# Environment
.env

# Bruno local environments
bruno/**/environments/local.*

# Virtual environments
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
.pytest_cache

# VS Code
.vscode/

# App data
.cache/
data/

# Logs
logs/
