{% extends "base.jinja" %}

{% block title %}
Home
{% endblock %}

{% block content %}
<h1>Hello, {{ username }}</h1>

<ul>
  {% for item in items %}
  <li>{{ item }}</li>
  {% endfor %}
</ul>

<a href="{{ url_for('scanner.index') }}">
  <button type="button">Scan QR Code</button>
</a>

{% endblock %}
