<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="manifest" crossorigin="use-credentials" href="{{ url_for('static', filename='manifest.json') }}">
  <meta name="theme-color" content="#18181b">
  <meta name="mobile-web-app-capable" content="yes">

  <link rel="apple-touch-icon" href="{{ url_for('static', filename='icons/icon-192.png') }}">

  <script src="https://cdn.tailwindcss.com"></script>

  <title>
    {% block title %}Inventory Management{% endblock %}
  </title>
</head>

<body class="min-h-screen bg-zinc-900 text-zinc-100">
  {% block content %}{% endblock %}

</body>
<script>
  if ("serviceWorker" in navigator) {
    navigator.serviceWorker.register("/sw.js");
  }
</script>

</html>
