<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="manifest" crossorigin="use-credentials" href="{{ url_for('static', filename='manifest.json') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-icons.min.css') }}">

  <title>{% block title %}Inventory Management{% endblock %}</title>

  {% block head %}{% endblock %}
</head>

<body>
  {% block body %}{% endblock %}

  {% block scripts %}{% endblock %}
</body>
<script>
  if ("serviceWorker" in navigator) {
    navigator.serviceWorker.register("/sw.js");
  }
</script>

</html>
