{% extends "base.jinja" %}

{% block title %}
Inventory
{% endblock %}

{% block content %}
<div class="md:hidden">
  {% include "inventory/mobile.jinja" %}
</div>

<div class="hidden md:block">
  {% include "inventory/desktop.jinja" %}
</div>
{% endblock %}
