{% extends "base.jinja" %}

{% block title %}
QR Code
{% endblock %}

{% block content %}
<h1>Scanned: {{ value }}</h1>

<a href="{{ url_for('scanner.index') }}" onclick="history.go(-2)">
  <button type="button">Scan Againa</button>
</a>
{% endblock %}
